source/GIPC.Tests/bin/
source/GIPC.Tests/obj/
source/GIPC/bin/
source/GIPC/obj/
source/GIPCEchoClient/bin/
source/GIPCEchoClient/obj/
source/GIPCEchoServer/bin/
source/GIPCEchoServer/obj/
source/SimpleSystray/bin/
source/SimpleSystray/obj/
source/TestRunner/bin/
source/TestRunner/obj/
source/Xappy/bin/
source/Xappy/obj/
source/packages/CommandLineParser.1.9.71/
source/packages/log4net.2.0.3/
source/XappyClient/bin/
source/XappyClient/obj/
bin/
*.suo
source/Xappy.Tests/obj/
source/packages/NUnit.2.6.3/
source/Xappy.Common/obj/
*.user
